In [20]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [54]:
df = read.csv("../../data/download")
df_code = read.csv("../../data/data_covid_fix_name_code.csv")

In [55]:
head(df)

  dateRep    day month year cases deaths countriesAndTerritories geoId
1 12/07/2020 12  7     2020  85   16     Afghanistan             AF
2 11/07/2020 11  7     2020 458   37     Afghanistan             AF
3 10/07/2020 10  7     2020 255   20     Afghanistan             AF
4 09/07/2020  9  7     2020  59    1     Afghanistan             AF
5 08/07/2020  8  7     2020 210   16     Afghanistan             AF
6 07/07/2020  7  7     2020 433   56     Afghanistan             AF
  countryterritoryCode popData2019 continentExp
1 AFG                  38041757    Asia
2 AFG                  38041757    Asia
3 AFG                  38041757    Asia
4 AFG                  38041757    Asia
5 AFG                  38041757    Asia
6 AFG                  38041757    Asia
  Cumulative_number_for_14_days_of_COVID.19_cases_per_100000
1 10.081028
2 10.291323
3  9.812901
4 10.351783
5 10.811803
6 11.148276

In [56]:
head(df_code)

  country   pop      urb    gdp       dist     hf   pf       ef   date_first
1 Albania    2866376 60.319 13364.155  6996524 7.84 8.005411 7.67 70
2 Algeria   42228429 72.629 15481.788  9108277 4.99 5.201489 4.77 58
3 Angola    30809762 65.514  6452.355 10490120 5.40 5.979936 4.83 83
4 Argentina 44494502 91.870 20610.569 19025624 6.86 8.044600 5.67 65
5 Armenia    2951776 63.149 10343.176  5064044 7.42 7.145017 7.70 62
6 Australia 24992369 86.012 51663.365  7608913 8.62 9.160533 8.07 26
  detection status cumul  air      code
1 74.3      1      108641   303.14 ALB
2 12.0      1       80272  6442.44 DZA
3 17.9      1      303691    76.94 AGO
4 74.9      1       92122  1516.63 ARG
5 60.8      1       86276       NA ARM
6 97.3      1        1347 75667.65 AUS

In [57]:
# 解析に必要なデータの抽出
df = subset(df, countryterritoryCode %in% df_code[,c("code")])

In [63]:
df["countriesAndTerritories"]

      countriesAndTerritories
186   Albania
187   Albania
188   Albania
189   Albania
190   Albania
191   Albania
192   Albania
193   Albania
194   Albania
195   Albania
196   Albania
197   Albania
198   Albania
199   Albania
200   Albania
201   Albania
202   Albania
203   Albania
204   Albania
205   Albania
206   Albania
207   Albania
208   Albania
209   Albania
210   Albania
211   Albania
212   Albania
213   Albania
214   Albania
215   Albania
⋮     ⋮
29266 Zimbabwe
29267 Zimbabwe
29268 Zimbabwe
29269 Zimbabwe
29270 Zimbabwe
29271 Zimbabwe
29272 Zimbabwe
29273 Zimbabwe
29274 Zimbabwe
29275 Zimbabwe
29276 Zimbabwe
29277 Zimbabwe
29278 Zimbabwe
29279 Zimbabwe
29280 Zimbabwe
29281 Zimbabwe
29282 Zimbabwe
29283 Zimbabwe
29284 Zimbabwe
29285 Zimbabwe
29286 Zimbabwe
29287 Zimbabwe
29288 Zimbabwe
29289 Zimbabwe
29290 Zimbabwe
29291 Zimbabwe
29292 Zimbabwe
29293 Zimbabwe
29294 Zimbabwe
29295 Zimbabwe